<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id='message' class="ex06_autowiring.MessageBeanImpl">
<property name="name" value='강예은'></property><!-- setName 호출 -->
<property name="message" value='하이루'></property>
</bean>

<bean id='outputer' class="ex06_autowiring.OutputerImpl">
<property name="path" value='src\\ex06_autowiring\\save.txt'></property>
</bean>

<bean id='outputer2' class="ex06_autowiring.OutputerImpl">
<property name="path" value='src\\ex06_autowiring\\message.txt'></property>
</bean>

<context:component-scan base-package="ex06_autowiring"></context:component-scan>
	
</beans>
