<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean class="spring.sample.HelloController"></bean>

<bean id='memberVo' class="example.member.model.MemberVo">
	<property name="id" value='12345'></property>
	<property name="name" value='강예은'></property>
	<property name="age" value='22'></property>
</bean>

<context:component-scan base-package="example.member">
</context:component-scan>
</beans>
